.character-list figure {
    border-radius: 10px;
    margin: 0;
    padding: 12px;
    transition: 0.3s;
    transition-property: color, background-color;
}

.character-list figure:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
}

.character-creation .attributes {
    align-items: center;
}

.character-creation .attributes input {
    width: 50px;
}

textarea.markdown-editor {
    width: 100%;
    min-height: 400px;
}

@media screen and (min-width: 1200px) {
    .content {
        display:flex;
        flex-direction: row;
    }
}

@media screen and (max-width: 1199px) {
    .content {
        display:flex;
        flex-direction: column;
    }
}

#map-viewport {
    width: 800px;
    height: 400px;
}

i {
    transition: all 0.3s;
}

li.collapsed ul {
    display: none;
    transition: all 0.3s;
}

li.parent > div > i::after {
    content: 'keyboard_arrow_right'
}

li.opened > div > i {
    transform: rotate(90deg);
}

li ul {
    margin-left: var(--spacing-width);
}

li.child {
    padding-left: 24px;
    line-height: 24px;
}

section.statistics ul {
    display: grid;
    grid-template-columns: repeat(6, 60px);
}
