html, body, menu {
    padding: 0;
    margin: 0;
}
body {
    margin: 0;
    display: grid;
    background-color: rgba(0, 0, 0, 0.1);
    grid-template-rows: 1fr max-content;
    box-sizing: border-box;
    grid-gap: var(--spacing-width);
}
body > div.bottom {
    grid-template-columns: 1fr max-content 1fr;
    grid-gap: var(--spacing-width);
}
div.bottom.hidden {
    display: none;
}
div.bottom {
    display: grid;
}
menu {
    text-align: right;
}
section.wiki {
    height: 100%;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) max-content 1fr;
}
section.wiki h2 {
    writing-mode: vertical-rl;
    text-align: right;
}
section.wiki p {
    column-width: 200px;
    column-gap: 2em;
    column-fill: auto;
}
section.wiki header {
    display: grid;
    align-content: center;
    grid-template-columns: max-content 1fr;
}
.character-list figure {
    border-radius: 10px;
    margin: 0;
    padding: 12px;
    transition: 0.3s;
    transition-property: color, background-color;
}
.character-list figure:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    cursor: pointer;
}
.character-creation .attributes {
    align-items: center;
}
.character-creation .attributes input {
    width: 50px;
}
textarea.markdown-editor {
    width: 100%;
}
#map-viewport {
    width: 400px;
    height: 200px;
}
i {
    transition: all 0.3s;
}
li.collapsed ul {
    display: none;
    transition: all 0.3s;
}
li.parent > div > i::after {
    content: 'keyboard_arrow_right'
}
li.opened > div > i {
    transform: rotate(90deg);
}
li ul {
    margin-left: var(--spacing-width);
}
li.child {
    padding-left: 24px;
    line-height: 24px;
}
section.statistics ul {
    display: grid;
    grid-template-columns: repeat(6, 60px);
}
.city-management {
    display: grid;
    grid-template-columns: max-content 1fr;
}
