div.bottom {
    grid-column: 1/2;
    grid-row: 2/3;
}
div.game-session {
    grid-column: 1/2;
    grid-row: 1/3;
    height: 100%;
    display: grid;
    grid-template-rows: 1fr max-content;
    grid-template-columns: 1fr max-content 1fr;
}
div.game-session > .map {
    grid-column: 1/-1;
    grid-row-start: 1;
    grid-row-end: 4;
}
div.game-session > .hud {
    grid-column: 2/3;
    grid-row: 3/4;
}
