<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans');
    </style>
    <link rel="stylesheet" href="/css/backbone.css">
    <link rel="stylesheet" href="/css/dndmapper.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="/img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <script type="application/ecmascript" src="/js/mapping.js"></script>
</head>
<body class="row">
<div class="sidebar column">
    <div class="paper">
        <h1>DnDMapper</h1>
        {% block menu %}
        {% include("components/menu.twig.html") %}
        {% endblock %}
    </div>
    <div>
        content at bottom
    </div>
</div>
<div class="content">
    <div class="paper">{% block content %}{{content}}{% endblock %}</div>
</div>
</body>
</html>